h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.nav {
    text-align: center;
}

ul {
    list-style-type: none;
}

.nav li {
    display: inline-block;
    padding: 0 50px 0 50px;
    margin: auto;
}

li {
    display: inline-block;
}

#basic {
    text-align: center;
}

#logo {
    margin: auto;
    display: block;
}

.rightside {
    margin: auto;
    display: block;
}

p {
    font-size: 22px;
}