body {
    background-color: #FCF9F9;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: #3B5672;
}

.nav {
    text-align: center;
}

ul {
    list-style-type: none;
}

.nav li {
    display: inline-block;
    padding: 0 50px 0 50px;
    margin: auto;
}

li {
    display: inline-block;
}

h4 {
    text-align: center;
}

#basic {
    text-align: center;
}

#logo {
    margin: auto;
    display: block;
    padding: 1px;
    border: solid black 2px;
    width: 200px;
    height: auto;
}

.rightside {
    margin: auto;
    display: block;
}

p {
    font-size: 22px;
    width: 80%;
    margin: 0 10% 0 10%;
}

a:visited {
    color: black;
}

a:link {
    color: black;
}